
.third-page i{
    color:rgb(255, 105, 159);
    font-size: 80px;
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none; 
    display: flex;
  }
a{
    text-decoration: none;
}
header{
   
          height: 72px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 1440px;
       
         
      }
.header__logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 28px 72px ;
  }
  .header__menu{
     
    height: 100%;
  display: flex;
  width: 55.3%;
  justify-content: space-between;
  align-items: center;
  
}
.header__menu nav{
   
    display: flex; 
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
    margin-right: -30px;
    
  }
  .header__menu nav li{
    display: inline;
    padding-right: 24px;
  }
  
  ul {
    list-style: none; 
    
  }
  .header__menu nav a{
      text-decoration: none;
      color: black;
      
  }
  body{
      max-width: 1440px;
     
  }
.header__menu button{
   
    width: 116px;
height: 36px;
border: 2px solid #000000;

border-radius: 3px;
background-color: white;


transition: all 0.5s ease-in-out  ;
}
.header__menu a:hover {
    border-bottom: 1px solid black; 
    color:black;
    
   
 
 }
 .header__menu button:hover{
    border: 2px solid #FF699F;
    box-sizing: border-box;
    border-radius: 3px;
    color:#FF699F;
    
 }
 main{
     padding-bottom: 0 !important;
     
 }
 .main-page{
     display: flex;
  
     padding: 0;
     
    
 }
.main-page__info{
    display: flex;
    flex-direction: column;
    
    height:  583px;
    width: 33.5%;
 
    padding: 73px 0 0 72px;
}
.main-page__info h1{
   
    height: 204px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 68px;
margin-right: 112px;


}
.main-page__info h3{
    font-family: Montserrat;
  
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

}

.main-page__info p{
   
    
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
width: 383px;
line-height: 150%;

margin-right: 77px;
}
.main-page__info button{
    width: 161px;
height: 46px;
color:#FF699F;
border: 2px solid #FF699F;
box-sizing: border-box;
border-radius: 3px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 153.4%;
background-color: #fff;
transition: all 0.5s ease-in-out;

}
.main-page__info button:hover{
    color:#000;

}
.main-page__info :nth-child(1) + :nth-child(2){
    margin-top: 16px;
}
.main-page__info :nth-child(2) + :nth-child(3){
    margin-top: 40px;
}
.main-page__info :nth-child(3) + :nth-child(4){
    margin-top: 45px;
}
.main-page__photo img{
    height: 100%;
    width: 100%;
   background-color: #fff;
  //  background: url(../img/first-dance-i.png) 100% 100% no-repeat; 
  
   
    
}

.main__info{
    padding: 100px 0 0 72px;
}
.main__info h2{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 93.9%;
}
.main__info p {
    margin: 24px 0 48px 0;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
width: 668px;
line-height: 153.4%;
}
.second-page{
    display: flex;
    justify-content: space-between;
    margin: 0px 53px 0 72px;
}
.second-page section{
    height: 640px;
    flex:1;
    border: 1px solid #fff;
    margin-right: 16px;
}
.second-page section img{
    width: 100%;
    height: 421px;
}
.second-page h2{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 93.9%;
margin: 40px 0 0 40px;
}
.second-page p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 153.4%;
margin: 24px 0 0 41px;
}
.second-page section:nth-of-type(1) h2{
   margin: 40px 0 0 24px !important;

}
.second-page section:nth-of-type(1) p:nth-of-type(1){
   margin: 24px 0 0 24px !important;
}
.second-page section:nth-of-type(1) p+p{
   margin: 8px 0 0 24px
}
.second-page section p+p{
   margin: 8px 0 0 41px
}
.third-page{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  &-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{          max-width: 180px;
        margin: 15px 0 80px 0;
        line-height: 150%;
        text-align: center;
}


  }
}


footer {
    
      width: 100%;
    display: flex;
    align-items: center;
    background: #1F1F1F;
 
    justify-content: space-between;
    
    color: #fff;
 
}
.footer__logo{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: 35px 0 36px 72px;
}
.footer__copyright{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  
  margin: 36px 72px 27px 0;
}

.slider.single-item{
    display: none;
  
}
#menu-checkbox{
    display: none;
}

@media screen and (max-width: 375px) { /* разрешение планшета */
    
    .third-page{
        justify-content: space-between;
        &-item{
         width: 50%;
         i{
             font-size: 56px;
         }
         p{ margin: 10px 0 30px;}
        }
        
       
    }
    .third-page section:nth-of-type(2) p{
        max-width: 200px;
    }
    
    .header__menu a:hover {
        border-bottom: 1px solid black; 
        color:black;
        
       
     
     }
    .header__menu{
        width: 14%;
    }
   .header__menu ul{
       display: none
   }
   .header__menu li{
       width: 100%;
       display: block;
       font-size: 12px;
   }
   .header__menu a{
       display: block;
       padding: 8px;
   }
   .toggle-button{
       position:  absolute;
       top: 20px;
      right: 56px;
       text-align: center;
     
       display: block;
       cursor: pointer;
       color: black;
    
   }
   .toggle-button:before{
content: attr(data-open);
display: block;
font-size: 25px;

margin-right: -65px;

   }
   #menu-checkbox:checked + nav[role="navigation"] .main-menu{
display: flex;
flex-direction: column;
margin: 18px 0 37px -153px;
   }
   .header__menu nav li{
       margin-top: 5px
   }
   .header__menu nav li + button{
       margin-top: 34px
   }
   .header__menu ul{
       border: 1px solid black;
       padding-bottom: 5px ;
   }

   .header__menu button{
     margin-left: 7px;
   }
   #menu-checkbox:checked + nav[role="navigation"] .toggle-button:before{
       content: attr(data-close);
   }
   header{
       height:  auto;
   }
    .slider.single-item{
        display: flex;
      
    }
    
    .main-page{
        display: flex;
        flex-direction: column-reverse;
        

    }
   
    .main-page__photo{
       
        background: none; 
      
        width: 100%;
        height: 100%;
       
        
    }
    
    
    header{
    
        display: flex;
      flex-direction: column;
        
       
    }
  
   nav{
       margin: 0;
       padding: 0;
       
   
     
     width: 275px;
   }
   .main__info p {
       width: 100%;
   }
   .header__logo{
      margin:25px 0 16px -166px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      width: 178px;
      
      line-height: 93.9%;
   }
   
   .main-page__info{
       
       padding: 30px 0 0 16px;
   }
   .main-page__info h1{
       
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 93.9%;
   }
   .main__info{
       padding: 56px 0 0 16px;
   }
   .main__info p{
       margin-top: 12px;
       margin-bottom: 23px;
   }
  .main__info:nth-last-of-type(1){
    padding: 56px 0 0 16px;
    
  }
.main-page__info div:nth-last-of-type(4){
    
    width: 174px;
height: 102px;
}
.main-page__info div:nth-last-of-type(3){
    
    width: 81px;
height: 17px;
}
.main-page__info div:nth-last-of-type(2){
    
    width: 300px;

}
.main-page__info div:nth-last-of-type(3) h3 {
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}
.main-page__info div:nth-last-of-type(2) p{
   
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 153.4%;
width: 300px;
}
.main-page__info :nth-child(2) + :nth-child(3) {
    margin-top: 18px;
}
.main-page__info :nth-child(1) + :nth-child(2) {
    margin-top: 11px;
}
.main-page__info :nth-child(3) + :nth-child(4) {
    margin-top: 24px;
}
.main-page__info {
    height: 100%;
}
.main__info h2 {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 93.9%;
}
.main__info p {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 153.4%;
width: 309px;
}

.second-page{
    display: none;
}
footer{
    flex-direction: column-reverse;
    height:  166px;
    width: 375px;
    justify-content: center;
    align-items: center;

   
p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 153.4%;
}
   

}
.footer__logo{
margin: 0;
margin-right: 56%;
margin-top: 2px;
padding: 0;
}
.footer__copyright{
      
margin: 0;
margin-top: -55px;
margin-right: 55%;
padding: 0;
}
}

.single-item{
    
    
width: 359px;
height: 451px;
margin: 32px 0 0px 16px;


section{
    margin-right: 12px;
}
    section img{
      width: 285px; 
      height: 295px; 
    }
   h2{
       margin: 24px 0 16px 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 93.9%;
   }
   p{
      margin: 16px 0 0 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 153.4%;
   }
   p+p{
    margin: 8px 0 0px 16px;
   }
  
   
}


/* the parent */
